@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  @apply md:text-[14px] text-[10px]
}

body {
  @apply font-body p-0 m-0 bg-[url('../public/static/background.png')] bg-[50%] bg-no-repeat bg-cover h-full;
}

p {
  @apply font-medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0;
}

a {
  @apply bg-inherit no-underline;
}

* {
  @apply box-border;
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass:hover {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.row{
  @apply flex flex-wrap justify-around
}


