.container {
  @apply relative px-0 lg:px-8 md:px-6 sm:px-4 mb-[14rem];
}

.main {
  @apply relative mx-auto mt-10 max-w-[72rem] px-4;
}

.heroImage {
  @apply top-0 right-10 absolute z-[1] w-60 h-60;
}

.heading{
@apply text-3xl font-semibold mt-4 pb-2 capitalize text-slate-950/95
}

.col{
  @apply w-full px-0 md:w-4/12 sm:w-6/12 sm:px-6 py-3
}

.sectionWrapper{
  @apply pt-1
}

